@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: black;
  }
  html {
    scroll-behavior: smooth;
  }
  :body {
    overflow-y: hidden;
  }
  h1 {
    @apply font-ibm;
    font-style: italic;
  }
  p,
  span,
  a,
  li,
  button,
  input,
  textarea {
    @apply font-ibm-sans;
  }

  @font-face {
    font-family: "AtomicMarkerExtras";
    src: url("/fonts/AtomicMarkerExtras.woff2") format("woff2"),
      url("/fonts/AtomicMarkerExtras.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "AtomicMarker";
    src: url("/fonts/AtomicMarker.woff2") format("woff2"),
      url("/fonts/AtomicMarker.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .prose-anchor {
    @apply hover:prose-a:after:text-primary hover:prose-a:decoration-primary prose-a:decoration-blue-500 prose-a:decoration-2 prose-a:underline-offset-2 prose-a:after:content-['_↗'] prose-a:after:font-black prose-a:after:text-blue-500;
  }
  .anchor {
    @apply hover:after:text-primary hover:text-primary hover:decoration-primary decoration-blue-500 decoration-2 underline underline-offset-2 after:content-['_↗'] after:font-black after:text-blue-500;
  }
  .sub-title {
    @apply text-white container mx-auto mb-4 font-ibm font-black text-2xl italic underline decoration-primary;
  }

  .mask {
    mask-image: url("/text-texture.png");
    mask-size: 250px;
    mask-repeat: repeat;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 100;
}

.maskImages {
  mask-image: linear-gradient(black 30%, transparent);
}

body {
  --sb-track-color: #1e1e1e;
  --sb-thumb-color: #facc15;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
